<div class="jumbotron-fluid">
  <div style="text-align: center;" class="col-md-12">
    <h2>ICONS</h2>
  </div>

  <div class="col-md-1">

  </div>

  <div class="col-md-10">

  <table style="border: 2px solid black;" class="table table-hover text-center">
    <thead>
      <tr>
        <th class="text-center">Icon Name</th>
        <th class="text-center">Glyphicons</th>
        <th class="text-center">Materialize</th>
        <th class="text-center">Font-Awesome</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">USER ICON</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-user"></i></td>
        <td class="text-center"><i class="material-icons">account_circle</i></td>
        <td class="text-center"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">MAIL</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-envelope"></i></td>
        <td class="text-center"><i class="material-icons">email</i></td>
        <td class="text-center"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></i></td>
      </tr>
      <tr>
        <td class="text-center">PAYMENT</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-credit-card"></i></td>
        <td class="text-center"><i class="material-icons">credit_card</i></td>
        <td class="text-center"><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">NAVIGATION</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-menu-hamburger"></i></td>
        <td class="text-center"><i class="material-icons">menu</i></td>
        <td class="text-center"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">SHOPPING</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-shopping-cart"></i></td>
        <td class="text-center"><i class="material-icons">add_shopping_cart</i></td>
        <td class="text-center"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">THUMB UP</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-thumbs-up"></i></td>
        <td class="text-center"><i class="material-icons">thumb_up</i></td>
        <td class="text-center"><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">FAVORITE</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-heart"></i></td>
        <td class="text-center"><i class="material-icons">favorite_border</i></td>
        <td class="text-center"><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">NOTIFICATION</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-bell"></i></td>
        <td class="text-center"><i class="material-icons">notifications_none</i></td>
        <td class="text-center"><i class="fa fa-bell-o fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">COMMENT</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-comment"></i></td>
        <td class="text-center"><i class="material-icons">comment</i></td>
        <td class="text-center"><i class="fa fa-commenting fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">SETTING</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-cog"></i></td>
        <td class="text-center"><i class="material-icons">settings</i></td>
        <td class="text-center"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">CAMERA</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-camera"></i></td>
        <td class="text-center"><i class="material-icons">camera_alt</i></td>
        <td class="text-center"><i class="fa fa-camera fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">PICTURE</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-picture"></i></td>
        <td class="text-center"><i class="material-icons">photo</i></td>
        <td class="text-center"><i class="fa fa-picture-o fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">PHONE</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-phone-alt"></i></td>
        <td class="text-center"><i class="material-icons">phone</i></td>
        <td class="text-center"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">WIFI</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-signal"></i></td>
        <td class="text-center"><i class="material-icons">wifi</i></td>
        <td class="text-center"><i class="fa fa-wifi fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="text-center">CUTLERY</td>
        <td class="text-center"><i style="font-size: 20px;" class="glyphicon glyphicon-cutlery"></i></td>
        <td class="text-center"><i class="material-icons">local_dining</i></td>
        <td class="text-center"><i class="fa fa-cutlery fa-2x" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>

</div>

  <div class="col-md-1">

  </div>
</div>
