<div class="btnbg">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <h3>Bootstrap</h3>

    <!-- Standard button -->
    <button style="border-radius: 20px;" type="button" class=" btn-default">Default</button>
    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <button type="button" class=" btn-primary">Primary</button>

    <!-- Indicates a successful or positive action -->
    <button style="border-radius: 20px;" type="button" class=" btn-success">Success <i class="fa fa-check-square-o" aria-hidden="true"></i></button>

    <!-- Contextual button for informational alert messages -->
    <button type="button" class=" btn-info">Info <i class="fa fa-info-circle" aria-hidden="true"></i></button>

    <!-- Indicates caution should be taken with this action -->
    <button style="border-radius: 20px;" type="button" class=" btn-warning">Warning</button>

    <!-- Indicates a dangerous or potentially negative action -->
    <button style="border-radius: 20px;" type="button" class=" btn-danger"> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Danger <i class="fa fa-exclamation-circle" aria-hidden="true"></i></button>

    <hr>

    <h3>Material</h3>


    <a style="background-color: #87CEFA;" class="waves-effect waves-light btn">button</a>
    <a style="background-color: purple; color: orange;" class="waves-effect waves-light btn"><i class="material-icons left">mood</i>button</a>
    <a style="background-color: #FFEFD5;" class="waves-effect waves-light btn"><i class="material-icons right">call</i>Call</a>
    <br>
    <br>

      <a class="btn-floating btn-large waves-effect waves-light	yellow"><i class="material-icons">add</i></a>

    <button style="background-color: #B22222" class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
    <button style="background-color: #191970; border-radius: 50px;" class="btn waves-effect waves-light" type="submit" name="action">Send
      <i class="material-icons right">email</i>
    </button>
  </div>

  <div class="col-md-2">

  </div>

</div>
