.simstyle {
   color: white !important;
}

.labelstyle{
  color: black !important;
}

.btnstyle{
  color: palegoldenrod;
  border-radius: 20px;
  background-color: black;
}
.btnstyle:hover{
  color: black;
  background-color: palegoldenrod;
}
