.simstyle {
   color: white;
}

.labelstyle{
  color: black;
}

.btnstyle{
  color: palegoldenrod;
  border-radius: 20px;
  background-color: black;
  width: 100%;
}
.btnstyle:hover{
  color: black;
  background-color: palegoldenrod;
}
