/* Example usage

* {
  @include mobile{
    font-size:12px;
  }
  include tablet{
    font-size:22px;
  }
}

*/

$mobile-width: 529px;
$tablet-width: 949px;
$desktop-width: 1128px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}){
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
    @content;
  }
}

@mixin desktopxl {
  @media (min-width: #{$desktop-width}){
    @content;
  }
}

