<div class="container-fluid">

<div class="col-md-12">

  <div class="col-md-12 headingtext">
      <h1>Client Profile</h1>
  </div>

  <div class="col-md-12">

    <form>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="clientname" class="col-form-label">Name</label>
            <input type="name" class="form-control"  placeholder="Name">
          </div>
          <div class="form-group col-md-4">
            <label for="companyname" class="col-form-label">Company</label>
            <input type="company" class="form-control" placeholder="Company">
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4" class="col-form-label">Email</label>
            <input type="email" class="form-control"  placeholder="Email">
          </div>
          <div class="form-group col-md-4">
            <label for="phonenumber" class="col-form-label">Phone</label>
            <input type="phone" class="form-control"  placeholder="Number">
          </div>
          <div class="form-group col-md-4">
            <label for="ethnicity" class="col-form-label">Ethnicity</label>
            <input type="ethnicity" class="form-control"  placeholder="Ethnicity">
          </div>
          <div class="form-group col-md-4">
            <label for="age" class="col-form-label">Age</label>
            <input type="age" class="form-control"  placeholder="Age">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress" class="col-form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2" class="col-form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputCity" class="col-form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState" class="col-form-label">Province</label>
            <select id="inputState" class="form-control">Choose</select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip" class="col-form-label">Postal</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Save</button>
      </form>
  </div>
</div>

<div class="col-md-12">
  <hr>

    <div class="col-md-6">
      <form>
        <fieldset class="form-group">
          <label for="concept">Concept/ Idea</label>
          <textarea class="form-control" id="concept" rows="5"></textarea>
        </fieldset>

        <button type="submit" class="btn btn-primary pull-right">Save</button>
      </form>
    </div>

    <div class="col-md-6">
      <form>
        <fieldset class="form-group">
          <label for="audience">Target Audience/ Demographic</label>
          <textarea class="form-control" id="audience" rows="5"></textarea>
        </fieldset>

        <button type="submit" class="btn btn-primary pull-right">Save</button>
      </form>
    </div>

    <div class="col-md-6">
      <form>
        <fieldset class="form-group">
          <label for="companybg">Company Background</label>
          <textarea class="form-control" id="companybg" rows="5"></textarea>
        </fieldset>

        <button type="submit" class="btn btn-primary pull-right">Save</button>
      </form>
    </div>

    <div class="col-md-6">
      <form>
        <fieldset class="form-group">
          <label for="functionality">Functionality</label>
          <textarea class="form-control" id="functionality" rows="5"></textarea>
        </fieldset>

        <button type="submit" class="btn btn-primary pull-right">Save</button>
      </form>
    </div>

    <div class="col-md-12">
      <br>
      <br>
      <hr>
    </div>
</div>
</div>
